In [2]:
import pandas as pd
import sqlalchemy as sa

db = sa.create_engine('postgresql://xtraplace:barnum@localhost/xtraplace')
df = pd.read_sql('select * from event', db)
df.head(5)

    id     course           date_time  last_checkpoint_id
0  124  Catterick 2019-07-24 17:10:00                2748
1  123  Catterick 2019-07-24 16:40:00                2721
2  116       Bath 2019-07-24 16:30:00                2694
3  130  Lingfield 2019-07-24 16:20:00                2666
4  115       Bath 2019-07-24 16:00:00                2635